body{
    background-image: url(momo.png.jpg);
    background-size:cover;
    background-position:center ;
}

button{
    align-content: end;
    position: absolute;
    top:380px;
    left: 170px;
    background-color:dodgerblue;
}

h1,h3{
    font-style: italic;
    font-size: 25px;

    

    
    
    

}

input {
    position: absolute;
    left:170px ;
    width: 100x;
    height: 20px;
}

select{
    position: absolute;
    left: 170px;
}

h1{
    font-style: italic;
    font-size:50px; 
    margin:30px;  
    
    
}
 
    